body {
  font-family: 'Montserrat', sans-serif;
}

header {
  padding: 20px;
  float: right;
  margin: 0px 100px;
}

.sign-in {
  background-color: rgb(194, 34, 34);
  border: 2px solid transparent;
  border-radius: 20px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight:bolder;
}

.sign-up {
  background-color: gray;
  border: 2px solid transparent;
  border-radius: 20px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight:bolder;
}

.my-profile {
  background-color: #da4235;
  border: 2px solid transparent;
  border-radius: 20px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight:bolder;
}

.container {
  margin: 5px 100px 5px 100px;
  display:inline-flex;
  background-color: rgba(255, 255, 255, 0.774);
}

img {
  height: 180px;
  margin: 10px;
}

.search {
  display:inline-flex;
  margin-left: 150px;
  margin-top: 10px;
  padding: 50px;
}

.dropbtn {
  background-color: #f1f1f1;
  padding: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px 0px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: gray;
}

#myInput {
  height: 60px;
  width: 400px;
  font-size: 22px;
}

#submit {
  padding: 10px;
  background: #da4235;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
  text-align: left;
  border-radius: 30px;
}

.autocomplete {
  display: inline;
}

.second-container {
  margin-left: 100px;
  margin-right: 100px;
  padding: 5px 30px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 50px;
}

.btnTime {
  height: 50px;
  width: auto;
  padding: 10px;
  background: #6cc560;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  border-radius: 15px;

}

.btnTime:hover {
  background-color:#5ca852;
}

.btnTime.active {
  background-color: #5ca852;
  color: white;
}

.filterDiv {
  float: left;
  background-color: #d4616d;
  color: #ffffff;
  text-align: center;
  margin: 2px;
  padding: 15px;
  display: none;
  
  cursor: pointer;
  font-size: 13px;
}

.filterDiv:hover {
  background-color:  #b8545e;
}

.btnTime.active {
  background-color:   #b8545e;
  color: white;
}

.show {
  display: block;
}

.filters-container {
  margin-top: 20px;
  overflow: hidden;
}

.btn {
  border: none;
  outline: none;
  padding: 8px 12px;
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 5px;
  font-size: 17px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.btn-start-search {
  background: grey;
  border: none;
  width: 500px;
  display: block;
  color: #fff;
  border-radius: 20px;
  padding: 20px;
  padding: .5em;
  text-decoration: none;
  font-size: 1.5em;
  margin: 3% auto 7%;
  z-index: 4; 
  cursor: pointer;
}

.search-container {
  text-align: center;
}

#plus-icon {
  font-size:36px; 
  color:rgb(141, 135, 135);
  visibility: hidden;
}

.fa-plus {
  font-size: 5px;
  color: black;
  cursor: pointer;
}

.ingredientDiv {
  background: rgb(148, 202, 148);
  border-radius: 10%;
  display: inline-flex;
  padding: 3px;
}

#foundRecipes h2{
  font-size: 25px;
}

#foundRecipes ul {
  list-style: none;
}
#foundRecipes ul li a{
  text-decoration: none ;
  color:#b8545e;
  font-size: 25px;
}