body {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

header {
display: flex;
justify-content: space-between;
}

h1{
text-align:center; /*na sredinu ili s live strane*/
font-size: 35px;
background-color: #f2f2f2d8; /*nez jel bolje bez pozadine*/
padding: 5px 5px;
margin: 0px 100px;
border-radius: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0 100px;
  padding: 0;
  overflow: hidden;
  background-color: rgb(209, 68, 68);
  border-radius: 5px;
}

nav li {
  float:left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav  li a:hover {
  background-color: rgb(206, 88, 88);
}

.container{
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

.container h2 {
  padding-left: 20px;
}

#aboutMe{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.name{
  width: 50%;
  padding: 10px 15px;
  margin: 5px 0 22px 0;
  display:flex;
  border: none;
  background: #f1f1f1;
  border-radius: 10px;
}

#myRecipes{
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

#myRecipes ul{
  list-style: none;
}
#myRecipes ul li{
  display: inline-flex;
}

#myRecipes ul li a {
  font-size: 20px;
  margin: 5px;
  text-decoration: none;
}

.btnModify {
  background-color: lightgray;
  border: none;
  position: center;
  padding: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.btnDelete {
  background-color: lightgray;
  border: none;
  position: center;
  padding: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.buttons {
  margin-left: 10px;
}


#favourites {
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

#favourites ul{
  list-style: none;
}
#favourites ul li{
  display: inline-flex;
}

#favourites ul li a {
  font-size: 20px;
  margin: 5px;
  text-decoration: none;
}

p {
  margin: 5px;
}

.clickable-icon {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.clickable-icon:hover {
  transform: scale(1.2);
}

